@page "/"

<PageTitle>About Me</PageTitle>

<h1>David Rosskopf</h1>
<div class="summary">
    <img src="/images/Headshot.jpg" alt="Picture of David Rosskopf">
    <div>
        <div class="description">
            <p>
                I am a man of many talents. Technically minded from a young age, I have been living, breathing and
                studying
                technologies for years.
                I also have a passion for leadership. I love analyzing, studying, and experiencing team culture. What
                distinguishes
                high performance
                teams from low performance teams. How can we develop great talent from within, and create a passion for
                innovating?
                These are just a few of the things I love to learn about.
            </p>
            <p>
                I am spiritual man, who feels a deep connection with his God. I use this connection all the time, when I
                am
                solutioning, architecting, and
                mentoring. I also let this lead me in career directions, if I am part of any team, it will only because
                I am led
                to do so. I also believe if any person is led to my team, it because God has led them.
            </p>
        </div>
    </div>
</div>
<div class="eval">
    <div class="SuperPowers">
        <div class="title">My Super Powers</div>
        <div>We all have something special about us, something that most don't have. Here is what I have discovered
            about myself:</div>
        <div class="power">
            <div class="name">Solutioning</div>
            <div class="description">I am great, at developing awesome, simple, and inginious solutions. I have detailed
                an unique process I go through to
                connect myself with the problems, which allows me to come up with the right solutions.
            </div>
        </div>
        <div class="power">
            <div class="name">Mentoring</div>
            <div class="description">I am really good at taking very inexperienced engineers, and helping them to become
                full functioning engineers, in a short
                amount of time.
            </div>
        </div>
        <div class="power">
            <div class="name">Managing Relationships</div>
            <div class="description">I am really good at helping people feel included, and heard. Ever customer, or
                business partner
                I need to work with, I am able to create and estability healthy, trusted relationships.
            </div>
        </div>
        <div class="power">
            <div class="name">Figuring out difficult problems</div>
            <div class="description">My team would liken me to the voltron devender. They would hit their heads on some
                of the hardest issues, but I would come in, and in a short
                amount of time, would identify, and solve the issue.
            </div>
        </div>
    </div>
    <div class="Kryptonytes">
        <div class="title">My Kryptonytes</div>
        <div>As with super powers, comes those few things we are weak at. Here are mine.</div>
        <div class="Kryptonyte">
            <div class="name">Health</div>
            <div class="description">I do have a few health challenges currently. Although I am working through it, it
                does take me away from my work at times.
            </div>
        </div>
        <div class="Kryptonyte">
            <div class="name">Organization</div>
            <div class="description">I am pretty used to a very adaptive/agile environment. Features, and priorities are
                fairly fluid, depending on the current need.
                I am good at prioritizing the work, but not as good as tasking out, and keeping the sprint safe from
                changes in priority.
            </div>
        </div>
    </div>
</div>